<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.deepsoft.haolifa.dao.repository.ApplyBuyMapper">


    <select id="selectByGroup" resultType="Map"
            parameterType="com.deepsoft.haolifa.model.dto.ApplyBuyListDTO">
    select distinct
    id,
    flow_id flowId,
    apply_no applyNo,
    create_time createTime,
    update_time updateTime,
    create_user_id createUserId
    from apply_buy
    where
    is_delete = 0
    <if test="applyBuyNo != null and applyBuyNo != ''">
        and apply_no like concat('%',#{applyBuyNO},'%')
    </if>
    group by apply_no
    order by update_time desc
    </select>
</mapper>