<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.deepsoft.haolifa.dao.repository.extend.FlowInstanceHistoryMapper">

    <select id="selectInstanceHistory" parameterType="com.deepsoft.haolifa.model.dto.HistoryInfo"
            resultType="com.deepsoft.haolifa.model.dto.HistoryInfo">
		SELECT
			fh.id historyId,
			fh.instance_id instanceId,
			fh.step_id stepId,
			fh.audit_user_id auditUserId,
			fh.audit_info auditInfo,
			fh.allot_user_id allotUserId,
			fh.audit_result auditResult,
			fh.form_type formType,
			fh.form_id formId,
			fh.form_no formNo,
			fh.create_time createTime,
			s.`name` stepName,
			s.description description,
			su.real_name userName
		FROM
			flow_history fh
			LEFT JOIN step s ON s.id = fh.step_id
			LEFT JOIN sys_user su ON su.id = fh.audit_user_id
		<where>
			<if test="instanceId != null and instanceId != ''">
				and fh.instance_id = #{instanceId}
			</if>
			<if test="stepId != null and stepId != ''">
				and fh.step_id =#{stepId}
			</if>
		</where>
		order by fh.create_time asc
    </select>

	<select id="selectByPrimaryKey" parameterType="int" resultType="com.deepsoft.haolifa.model.domain.FlowInstanceWrapper">
		SELECT
			fi.id,
			fi.summary,
			fi.form_no formNo,
			fi.flow_id flowId,
			fi.current_step_id currentStepId,
			fi.next_step_id nextStepId,
			fi.prev_step_id prevStepId,
			fi.user_id userId,
			fi.role_id roleId,
			fi.is_over isOver,
			fi.is_back isBack,
			fi.create_user_id createUserId,
			fi.create_time createTime,
			fi.update_time updateTime,
			su.real_name initUserName,
			su.id initUserId
		FROM
			flow_instance fi
			LEFT JOIN sys_user su ON su.id = fi.create_user_id
		WHERE
			fi.id = #{instanceId}
	</select>

	<select id="selectBackStepsByFlowIdAndStepId" parameterType="int" resultType="com.deepsoft.haolifa.model.dto.BackStepDTO">
		select
			fs.step_id stepId,
			s.`name` stepName
		from
		flow_step fs
		left join step s on s.id=fs.step_id
		where
		fs.flow_id = #{flowId}
		and
		step_order &lt; (select step_order from flow_step where flow_id=#{flowId} and step_id=#{stepId})
		order by step_order asc
	</select>

	<select id="selectFlowByUserRoles" parameterType="int" resultType="com.deepsoft.haolifa.model.vo.QuickStartVO">
		SELECT
			f.`id` AS flowId,
			f.`name` AS name,
			f.`description` AS description
		 FROM `sys_role` r
			JOIN `sys_role_user` ru
			ON r.`id` = ru.`sys_role_id` AND ru.`sys_user_id` = #{userId}
			JOIN `flow` f
			ON f.`role_id` = r.`id`
		 ORDER BY f.`name`;
	</select>

    <select id="selectToDoItems" parameterType="int" resultType="com.deepsoft.haolifa.model.vo.TodoItemVO">
        SELECT
            f.`id` AS flowId,
            f.`name` AS flowName,
            s.`id` AS stepId,
            s.`name` AS stepName,
            u.`username` AS createUser,
            u.`real_name` AS createUserRealName,
            fi.`create_time` AS createTime
        FROM `flow_instance` fi JOIN `step` s
          ON fi.`current_step_id` = s.`id`
          AND fi.`is_over` = 0
          AND fi.`user_id` = #{userId}
        JOIN `sys_user` u
          ON fi.`create_user_id` = u.`id`
        JOIN `flow` f
          ON fi.`flow_id` = f.`id`
        ORDER BY fi.`create_time` DESC;
    </select>
</mapper>