<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.deepsoft.haolifa.dao.repository.extend.MyPermissionMapper">


  <select id="findRolesByUserId" parameterType="long" resultType="com.deepsoft.haolifa.model.domain.SysRole">
    select
    r.role_name as roleName
    from sys_user u
    LEFT JOIN sys_role_user sru on u.id= sru.sys_user_id
    LEFT JOIN sys_role r on sru.sys_role_id=r.id
    where u.id=#{userId}
  </select>
  
  <select id="findPermissiosByRoles" parameterType="list" resultType="com.deepsoft.haolifa.model.dto.CustomPermission">
    SELECT
      DISTINCT
      perm_name AS permName,
      url
    FROM sys_role sr
    LEFT JOIN sys_permission_role srp ON sr.id = srp.role_id
    LEFT JOIN sys_permission sp ON srp.permission_id = sp.id
    WHERE sr.role_name IN
    <foreach collection="roles" item="role" open="(" close=")" separator=",">
      #{role}
    </foreach>
  </select>

</mapper>