<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.deepsoft.haolifa.dao.repository.extend.OrderExtendMapper">
    <insert id="insertBatchOrderMaterial" parameterType="java.util.List">
        insert into order_material
        (order_no, material_graph_no,
        is_replace,material_count,lack_material_count,check_status)
        values
        <foreach collection="list" item="item" index="index" separator=",">
            (
            #{item.orderNo},
            #{item.materialGraphNo},
            #{item.isReplace},
            #{item.materialCount},
            #{item.lackMaterialCount},
            #{item.checkStatus}
            )
        </foreach>
    </insert>

    <select id="listOrderMaterial" resultType="com.deepsoft.haolifa.model.dto.order.OrderMaterialDTO">
        SELECT
        m.model,
        m.specifications,
        m.unit,
        m.price,
        o.material_count AS materialCount,
        o.is_replace AS isReplace,
        o.order_no As orderNo,
        o.material_graph_no As materialGraphNo,
        o.material_name As materialName,
        o.lack_material_count As lackMaterialCount,
        o.check_status as checkStatus,
        o.replace_material_graph_no As replaceMaterialGraphNo,
        o.replace_material_name As replaceMaterialName
        FROM
        `order_material` o
        LEFT JOIN material m ON o.material_graph_no = m.graph_no
        WHERE
        o.order_no =#{orderNo};
    </select>

    <insert id="insertBatchCheckLog" parameterType="java.util.List">
        insert into check_material_log
        (check_user_id, material_graph_no,order_no,
        current_material_count,need_material_count,check_state,check_result)
        values
        <foreach collection="list" item="item" index="index" separator=",">
            (
            #{item.checkUserId},
            #{item.materialGraphNo},
            #{item.orderNo},
            #{item.currentMaterialCount},
            #{item.needMaterialCount},
            #{item.checkState},
            #{item.checkResult}
            )
        </foreach>
    </insert>

</mapper>