<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.deepsoft.haolifa.dao.repository.extend.OrderExtendMapper">
    <insert id="insertBatchOrderMaterial" parameterType="java.util.List">
        insert into order_material
        (order_no,order_product_associate_id, material_graph_no, material_count)
        values
        <foreach collection="list" item="item" index="index" separator=",">
            (
            #{item.orderNo},
            #{item.orderProductAssociateId},
            #{item.materialGraphNo},
            #{item.materialCount}
            )
        </foreach>
    </insert>

    <insert id="insertBatchOrderProductAssociate" parameterType="java.util.List">
        insert into order_product_associate
        (order_no, product_name,
        specifications,product_model,product_number,price,total_price,material_description,product_remark)
        values
        <foreach collection="list" item="item" index="index" separator=",">
            (
            #{item.orderNo},
            #{item.productName},
            #{item.specifications},
            #{item.productModel},
            #{item.productNumber},
            #{item.price},
            #{item.totalPrice},
            #{item.materialDescription},
            #{item.productRemark}
            )
        </foreach>
    </insert>

    <select id="listOrderMaterial" resultMap="com.deepsoft.haolifa.model.dto.OrderMaterialDTO">
        SELECT
        m.`name` AS materialName,
        m.model,
        m.specifications,
        m.unit,
        m.price,
        o.material_count AS materialCount,
        o.order_no As orderNo
        FROM
        `order_material` o
        LEFT JOIN material m ON o.material_graph_no = m.graph_no
        WHERE
        o.order_no =#{orderNo};
    </select>

</mapper>