<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.deepsoft.haolifa.dao.repository.extend.CommonExtendMapper">

    <select id="pagePreOutMaterial" parameterType="com.deepsoft.haolifa.model.vo.PreOutMaterialPageVo"
            resultType="com.deepsoft.haolifa.model.vo.PreOutMaterialVo">
        select * from (
        SELECT 1 type,id busId,order_no busNo,graph_no graphNo,material_name materialName,quantity
        outQuantity,batch_number batchNumber,dept_name deptName,out_room_status outRoomStatus,create_time createTime
        FROM `material_requisition` a

        union all

        SELECT 2 type,id busId,entrust_no busNo,material_graph_no graphNo,material_graph_name materialName,number
        outQuantity,batch_number batchNumber,'' deptName,out_room_status outRoomStatus,create_time createTime from
        entrust b

        union all

        select 3 type,id busId,spray_no busNo,material_graph_no graphNo,material_name materialName,number
        outQuantity,batch_number batchNumber,'' deptName,out_room_status outRoomStatus,create_time createTime from
        spray_item b
        ) un
        where 1=1

        <if test="outRoomStatus!= null and outRoomStatus>0">
            and un.outRoomStatus = #{outRoomStatus}
        </if>
        <if test="type!= null">
            and un.type = #{type}
        </if>
        <if test="busNo != null and busNo !=''">
            and un.busNo like CONCAT('%',#{busNo},'%')
        </if>
        <if test="graphNo != null and graphNo !=''">
            and un.graphNo like CONCAT('%',#{graphNo},'%')
        </if>
        <if test="batchNumber != null and batchNumber !=''">
            and un.batchNumber like CONCAT('%',#{batchNumber},'%')
        </if>
        <if test="materialName != null and materialName !=''">
            and sp.material_name like CONCAT('%',#{materialName},'%')
        </if>

        order by un.createTime desc
    </select>
    <select id="inspectItemQty" resultType="com.deepsoft.haolifa.model.vo.InspectItemQtyVo">
        SELECT material_graph_no materialGraphNo,material_name materialName,sum(delivery_number) deliveryNumber,sum(qualified_number) qualifiedNumber,sum(unqualified_number) unqualifiedNumber
        from `inspect_item` where purchase_no=#{purchaseNo} group by material_graph_no;
    </select>

</mapper>
