<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.deepsoft.haolifa.dao.repository.extend.ProductMaterialExtendMapper">
    <insert id="insertBatch" parameterType="java.util.List">
        insert into product_material
        (create_user, product_no,product_model,specification, material_graph_no, material_count,replace_material_graph_no)
        values
        <foreach collection="list" item="item" index="index" separator=",">
            (
            #{item.createUser},
            #{item.productNo},
            #{item.productModel},
            #{item.specification},
            #{item.materialGraphNo},
            #{item.materialCount},
            #{item.replaceMaterialGraphNo}
            )
        </foreach>
    </insert>

</mapper>