<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.deepsoft.haolifa.dao.repository.extend.StatisticsExtendMapper">


    <select id="sumOrderTotal" resultType="com.deepsoft.haolifa.model.vo.OrderAmountStatisticVo">
        SELECT ROUND(ifnull(sum(total_price),0),2) orderAmount,
        ROUND(ifnull(sum(received_account),0),2) receivedAmount
        FROM `order_product` op
        where 1=1
        <if test="orderNo != null and orderNo !=''">
            and op.order_no like CONCAT('%',#{orderNo},'%')
        </if>
        <if test="demandName != null and demandName !=''">
            and op.demand_name like CONCAT('%',#{demandName},'%')
        </if>
        <if test="deliverStatus != null and deliverStatus > -1">
            and op.deliver_status = #{deliverStatus}
        </if>
        <if test="orderStatus != null and orderStatus > -1">
            and op.order_status = #{orderStatus}
        </if>
        <if test="startDate != null">
            and op.create_time &gt;= #{startDate}
        </if>
        <if test="endDate != null">
            and op.create_time &lt;= #{endDate}
        </if>
    </select>
    <select id="sumPurchaseTotal" resultType="com.deepsoft.haolifa.model.vo.PurchaseAmountStatisticVo">
        SELECT ROUND(ifnull(sum(total_price),0),2) as totalPrice,ROUND(ifnull(sum(paid_account),0),2) as paidAccount
        FROM `purchase_order` op
        where 1=1
        <if test="orderNo != null and orderNo !=''">
            and op.purchase_order_no like CONCAT('%',#{orderNo},'%')
        </if>
        <if test="supplierName != null and supplierName !=''">
            and op.supplier_name like CONCAT('%',#{supplierName},'%')
        </if>
        <if test="status != null and status > 0">
            and op.status = #{status}
        </if>
        <if test="startDate != null">
            and op.create_time &gt;= #{startDate}
        </if>
        <if test="endDate != null">
            and op.create_time &lt;= #{endDate}
        </if>
    </select>
    <select id="sumInvoiceTotal" resultType="java.math.BigDecimal">
        SELECT
        ifnull(sum( total_amount ),0) total_amount
        FROM invoice iv
        <include refid="invoiceSql"></include>
    </select>

    <sql id="invoiceSql">
        <where>
            <if test="type!=null">
                and iv.type=#{type}
            </if>
            <if test="status!=null and status>0">
                and iv.status=#{status}
            </if>
            <if test="statusList!=null and statusList.size>0">
                and iv.status in
                <foreach collection="statusList" item="listItem" open="(" close=")" separator=",">
                    #{listItem}
                </foreach>
            </if>
            <if test="startDate!=null and startDate != ''">
                and iv.invoice_date&gt;=#{startDate}
            </if>
            <if test="endDate!=null and endDate != ''">
                and iv.invoice_date&lt;=#{endDate}
            </if>
            <if test="orderNo != null and orderNo != ''">
                and iv.order_no like CONCAT('%',#{orderNo},'%')
            </if>
            <if test="demandName != null and demandName != ''">
                and iv.invoice_company like CONCAT('%',#{demandName},'%')
            </if>
        </where>
    </sql>

</mapper>
