<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.deepsoft.haolifa.dao.repository.BizAssetsMapper" >
  <resultMap id="BaseResultMap" type="com.deepsoft.haolifa.model.domain.BizAssets" >
    <constructor >
      <idArg column="assets_id" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="bh" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="type" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="specifications" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="num" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="dept_id" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="user_name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="add_type" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="location" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="equipment_state" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="manufacturer" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="purchasing_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="price" jdbcType="DECIMAL" javaType="java.math.BigDecimal" />
      <arg column="use_year" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="depreciation_method" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="start_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="accrued_month" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="output_rate" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="salvage_value" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="accumulated_depreciation" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="month_rate" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="month_depreciation" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="net_worth" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="string1" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="string2" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="string3" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="string4" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="string5" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="string6" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="string7" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="string8" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="string9" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="string10" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="remark" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="status" jdbcType="CHAR" javaType="java.lang.String" />
      <arg column="del_flag" jdbcType="CHAR" javaType="java.lang.String" />
      <arg column="create_by" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="create_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="update_by" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="update_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
    </constructor>
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    assets_id, name, bh, type, specifications, num, dept_id, user_name, add_type, location, 
    equipment_state, manufacturer, purchasing_time, price, use_year, depreciation_method, 
    start_time, accrued_month, output_rate, salvage_value, accumulated_depreciation, 
    month_rate, month_depreciation, net_worth, string1, string2, string3, string4, string5, 
    string6, string7, string8, string9, string10, remark, status, del_flag, create_by, 
    create_time, update_by, update_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.deepsoft.haolifa.model.domain.BizAssetsExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from biz_assets
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from biz_assets
    where assets_id = #{assetsId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from biz_assets
    where assets_id = #{assetsId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.deepsoft.haolifa.model.domain.BizAssetsExample" >
    delete from biz_assets
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.deepsoft.haolifa.model.domain.BizAssets" >
    insert into biz_assets (assets_id, name, bh, 
      type, specifications, num, 
      dept_id, user_name, add_type, 
      location, equipment_state, manufacturer, 
      purchasing_time, price, use_year, 
      depreciation_method, start_time, accrued_month, 
      output_rate, salvage_value, accumulated_depreciation, 
      month_rate, month_depreciation, net_worth, 
      string1, string2, string3, 
      string4, string5, string6, 
      string7, string8, string9, 
      string10, remark, status, 
      del_flag, create_by, create_time, 
      update_by, update_time)
    values (#{assetsId,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{bh,jdbcType=VARCHAR}, 
      #{type,jdbcType=VARCHAR}, #{specifications,jdbcType=VARCHAR}, #{num,jdbcType=VARCHAR}, 
      #{deptId,jdbcType=VARCHAR}, #{userName,jdbcType=VARCHAR}, #{addType,jdbcType=VARCHAR}, 
      #{location,jdbcType=VARCHAR}, #{equipmentState,jdbcType=VARCHAR}, #{manufacturer,jdbcType=VARCHAR}, 
      #{purchasingTime,jdbcType=TIMESTAMP}, #{price,jdbcType=DECIMAL}, #{useYear,jdbcType=VARCHAR}, 
      #{depreciationMethod,jdbcType=VARCHAR}, #{startTime,jdbcType=TIMESTAMP}, #{accruedMonth,jdbcType=VARCHAR}, 
      #{outputRate,jdbcType=VARCHAR}, #{salvageValue,jdbcType=VARCHAR}, #{accumulatedDepreciation,jdbcType=VARCHAR}, 
      #{monthRate,jdbcType=VARCHAR}, #{monthDepreciation,jdbcType=VARCHAR}, #{netWorth,jdbcType=VARCHAR}, 
      #{string1,jdbcType=VARCHAR}, #{string2,jdbcType=VARCHAR}, #{string3,jdbcType=VARCHAR}, 
      #{string4,jdbcType=VARCHAR}, #{string5,jdbcType=VARCHAR}, #{string6,jdbcType=VARCHAR}, 
      #{string7,jdbcType=VARCHAR}, #{string8,jdbcType=VARCHAR}, #{string9,jdbcType=VARCHAR}, 
      #{string10,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, #{status,jdbcType=CHAR}, 
      #{delFlag,jdbcType=CHAR}, #{createBy,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateBy,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.deepsoft.haolifa.model.domain.BizAssets" >
    insert into biz_assets
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="assetsId != null" >
        assets_id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="bh != null" >
        bh,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="specifications != null" >
        specifications,
      </if>
      <if test="num != null" >
        num,
      </if>
      <if test="deptId != null" >
        dept_id,
      </if>
      <if test="userName != null" >
        user_name,
      </if>
      <if test="addType != null" >
        add_type,
      </if>
      <if test="location != null" >
        location,
      </if>
      <if test="equipmentState != null" >
        equipment_state,
      </if>
      <if test="manufacturer != null" >
        manufacturer,
      </if>
      <if test="purchasingTime != null" >
        purchasing_time,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="useYear != null" >
        use_year,
      </if>
      <if test="depreciationMethod != null" >
        depreciation_method,
      </if>
      <if test="startTime != null" >
        start_time,
      </if>
      <if test="accruedMonth != null" >
        accrued_month,
      </if>
      <if test="outputRate != null" >
        output_rate,
      </if>
      <if test="salvageValue != null" >
        salvage_value,
      </if>
      <if test="accumulatedDepreciation != null" >
        accumulated_depreciation,
      </if>
      <if test="monthRate != null" >
        month_rate,
      </if>
      <if test="monthDepreciation != null" >
        month_depreciation,
      </if>
      <if test="netWorth != null" >
        net_worth,
      </if>
      <if test="string1 != null" >
        string1,
      </if>
      <if test="string2 != null" >
        string2,
      </if>
      <if test="string3 != null" >
        string3,
      </if>
      <if test="string4 != null" >
        string4,
      </if>
      <if test="string5 != null" >
        string5,
      </if>
      <if test="string6 != null" >
        string6,
      </if>
      <if test="string7 != null" >
        string7,
      </if>
      <if test="string8 != null" >
        string8,
      </if>
      <if test="string9 != null" >
        string9,
      </if>
      <if test="string10 != null" >
        string10,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="delFlag != null" >
        del_flag,
      </if>
      <if test="createBy != null" >
        create_by,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateBy != null" >
        update_by,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="assetsId != null" >
        #{assetsId,jdbcType=BIGINT},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="bh != null" >
        #{bh,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="specifications != null" >
        #{specifications,jdbcType=VARCHAR},
      </if>
      <if test="num != null" >
        #{num,jdbcType=VARCHAR},
      </if>
      <if test="deptId != null" >
        #{deptId,jdbcType=VARCHAR},
      </if>
      <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="addType != null" >
        #{addType,jdbcType=VARCHAR},
      </if>
      <if test="location != null" >
        #{location,jdbcType=VARCHAR},
      </if>
      <if test="equipmentState != null" >
        #{equipmentState,jdbcType=VARCHAR},
      </if>
      <if test="manufacturer != null" >
        #{manufacturer,jdbcType=VARCHAR},
      </if>
      <if test="purchasingTime != null" >
        #{purchasingTime,jdbcType=TIMESTAMP},
      </if>
      <if test="price != null" >
        #{price,jdbcType=DECIMAL},
      </if>
      <if test="useYear != null" >
        #{useYear,jdbcType=VARCHAR},
      </if>
      <if test="depreciationMethod != null" >
        #{depreciationMethod,jdbcType=VARCHAR},
      </if>
      <if test="startTime != null" >
        #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="accruedMonth != null" >
        #{accruedMonth,jdbcType=VARCHAR},
      </if>
      <if test="outputRate != null" >
        #{outputRate,jdbcType=VARCHAR},
      </if>
      <if test="salvageValue != null" >
        #{salvageValue,jdbcType=VARCHAR},
      </if>
      <if test="accumulatedDepreciation != null" >
        #{accumulatedDepreciation,jdbcType=VARCHAR},
      </if>
      <if test="monthRate != null" >
        #{monthRate,jdbcType=VARCHAR},
      </if>
      <if test="monthDepreciation != null" >
        #{monthDepreciation,jdbcType=VARCHAR},
      </if>
      <if test="netWorth != null" >
        #{netWorth,jdbcType=VARCHAR},
      </if>
      <if test="string1 != null" >
        #{string1,jdbcType=VARCHAR},
      </if>
      <if test="string2 != null" >
        #{string2,jdbcType=VARCHAR},
      </if>
      <if test="string3 != null" >
        #{string3,jdbcType=VARCHAR},
      </if>
      <if test="string4 != null" >
        #{string4,jdbcType=VARCHAR},
      </if>
      <if test="string5 != null" >
        #{string5,jdbcType=VARCHAR},
      </if>
      <if test="string6 != null" >
        #{string6,jdbcType=VARCHAR},
      </if>
      <if test="string7 != null" >
        #{string7,jdbcType=VARCHAR},
      </if>
      <if test="string8 != null" >
        #{string8,jdbcType=VARCHAR},
      </if>
      <if test="string9 != null" >
        #{string9,jdbcType=VARCHAR},
      </if>
      <if test="string10 != null" >
        #{string10,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=CHAR},
      </if>
      <if test="delFlag != null" >
        #{delFlag,jdbcType=CHAR},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.deepsoft.haolifa.model.domain.BizAssetsExample" resultType="java.lang.Integer" >
    select count(*) from biz_assets
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update biz_assets
    <set >
      <if test="record.assetsId != null" >
        assets_id = #{record.assetsId,jdbcType=BIGINT},
      </if>
      <if test="record.name != null" >
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.bh != null" >
        bh = #{record.bh,jdbcType=VARCHAR},
      </if>
      <if test="record.type != null" >
        type = #{record.type,jdbcType=VARCHAR},
      </if>
      <if test="record.specifications != null" >
        specifications = #{record.specifications,jdbcType=VARCHAR},
      </if>
      <if test="record.num != null" >
        num = #{record.num,jdbcType=VARCHAR},
      </if>
      <if test="record.deptId != null" >
        dept_id = #{record.deptId,jdbcType=VARCHAR},
      </if>
      <if test="record.userName != null" >
        user_name = #{record.userName,jdbcType=VARCHAR},
      </if>
      <if test="record.addType != null" >
        add_type = #{record.addType,jdbcType=VARCHAR},
      </if>
      <if test="record.location != null" >
        location = #{record.location,jdbcType=VARCHAR},
      </if>
      <if test="record.equipmentState != null" >
        equipment_state = #{record.equipmentState,jdbcType=VARCHAR},
      </if>
      <if test="record.manufacturer != null" >
        manufacturer = #{record.manufacturer,jdbcType=VARCHAR},
      </if>
      <if test="record.purchasingTime != null" >
        purchasing_time = #{record.purchasingTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.price != null" >
        price = #{record.price,jdbcType=DECIMAL},
      </if>
      <if test="record.useYear != null" >
        use_year = #{record.useYear,jdbcType=VARCHAR},
      </if>
      <if test="record.depreciationMethod != null" >
        depreciation_method = #{record.depreciationMethod,jdbcType=VARCHAR},
      </if>
      <if test="record.startTime != null" >
        start_time = #{record.startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.accruedMonth != null" >
        accrued_month = #{record.accruedMonth,jdbcType=VARCHAR},
      </if>
      <if test="record.outputRate != null" >
        output_rate = #{record.outputRate,jdbcType=VARCHAR},
      </if>
      <if test="record.salvageValue != null" >
        salvage_value = #{record.salvageValue,jdbcType=VARCHAR},
      </if>
      <if test="record.accumulatedDepreciation != null" >
        accumulated_depreciation = #{record.accumulatedDepreciation,jdbcType=VARCHAR},
      </if>
      <if test="record.monthRate != null" >
        month_rate = #{record.monthRate,jdbcType=VARCHAR},
      </if>
      <if test="record.monthDepreciation != null" >
        month_depreciation = #{record.monthDepreciation,jdbcType=VARCHAR},
      </if>
      <if test="record.netWorth != null" >
        net_worth = #{record.netWorth,jdbcType=VARCHAR},
      </if>
      <if test="record.string1 != null" >
        string1 = #{record.string1,jdbcType=VARCHAR},
      </if>
      <if test="record.string2 != null" >
        string2 = #{record.string2,jdbcType=VARCHAR},
      </if>
      <if test="record.string3 != null" >
        string3 = #{record.string3,jdbcType=VARCHAR},
      </if>
      <if test="record.string4 != null" >
        string4 = #{record.string4,jdbcType=VARCHAR},
      </if>
      <if test="record.string5 != null" >
        string5 = #{record.string5,jdbcType=VARCHAR},
      </if>
      <if test="record.string6 != null" >
        string6 = #{record.string6,jdbcType=VARCHAR},
      </if>
      <if test="record.string7 != null" >
        string7 = #{record.string7,jdbcType=VARCHAR},
      </if>
      <if test="record.string8 != null" >
        string8 = #{record.string8,jdbcType=VARCHAR},
      </if>
      <if test="record.string9 != null" >
        string9 = #{record.string9,jdbcType=VARCHAR},
      </if>
      <if test="record.string10 != null" >
        string10 = #{record.string10,jdbcType=VARCHAR},
      </if>
      <if test="record.remark != null" >
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=CHAR},
      </if>
      <if test="record.delFlag != null" >
        del_flag = #{record.delFlag,jdbcType=CHAR},
      </if>
      <if test="record.createBy != null" >
        create_by = #{record.createBy,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateBy != null" >
        update_by = #{record.updateBy,jdbcType=VARCHAR},
      </if>
      <if test="record.updateTime != null" >
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update biz_assets
    set assets_id = #{record.assetsId,jdbcType=BIGINT},
      name = #{record.name,jdbcType=VARCHAR},
      bh = #{record.bh,jdbcType=VARCHAR},
      type = #{record.type,jdbcType=VARCHAR},
      specifications = #{record.specifications,jdbcType=VARCHAR},
      num = #{record.num,jdbcType=VARCHAR},
      dept_id = #{record.deptId,jdbcType=VARCHAR},
      user_name = #{record.userName,jdbcType=VARCHAR},
      add_type = #{record.addType,jdbcType=VARCHAR},
      location = #{record.location,jdbcType=VARCHAR},
      equipment_state = #{record.equipmentState,jdbcType=VARCHAR},
      manufacturer = #{record.manufacturer,jdbcType=VARCHAR},
      purchasing_time = #{record.purchasingTime,jdbcType=TIMESTAMP},
      price = #{record.price,jdbcType=DECIMAL},
      use_year = #{record.useYear,jdbcType=VARCHAR},
      depreciation_method = #{record.depreciationMethod,jdbcType=VARCHAR},
      start_time = #{record.startTime,jdbcType=TIMESTAMP},
      accrued_month = #{record.accruedMonth,jdbcType=VARCHAR},
      output_rate = #{record.outputRate,jdbcType=VARCHAR},
      salvage_value = #{record.salvageValue,jdbcType=VARCHAR},
      accumulated_depreciation = #{record.accumulatedDepreciation,jdbcType=VARCHAR},
      month_rate = #{record.monthRate,jdbcType=VARCHAR},
      month_depreciation = #{record.monthDepreciation,jdbcType=VARCHAR},
      net_worth = #{record.netWorth,jdbcType=VARCHAR},
      string1 = #{record.string1,jdbcType=VARCHAR},
      string2 = #{record.string2,jdbcType=VARCHAR},
      string3 = #{record.string3,jdbcType=VARCHAR},
      string4 = #{record.string4,jdbcType=VARCHAR},
      string5 = #{record.string5,jdbcType=VARCHAR},
      string6 = #{record.string6,jdbcType=VARCHAR},
      string7 = #{record.string7,jdbcType=VARCHAR},
      string8 = #{record.string8,jdbcType=VARCHAR},
      string9 = #{record.string9,jdbcType=VARCHAR},
      string10 = #{record.string10,jdbcType=VARCHAR},
      remark = #{record.remark,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=CHAR},
      del_flag = #{record.delFlag,jdbcType=CHAR},
      create_by = #{record.createBy,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_by = #{record.updateBy,jdbcType=VARCHAR},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.deepsoft.haolifa.model.domain.BizAssets" >
    update biz_assets
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="bh != null" >
        bh = #{bh,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="specifications != null" >
        specifications = #{specifications,jdbcType=VARCHAR},
      </if>
      <if test="num != null" >
        num = #{num,jdbcType=VARCHAR},
      </if>
      <if test="deptId != null" >
        dept_id = #{deptId,jdbcType=VARCHAR},
      </if>
      <if test="userName != null" >
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="addType != null" >
        add_type = #{addType,jdbcType=VARCHAR},
      </if>
      <if test="location != null" >
        location = #{location,jdbcType=VARCHAR},
      </if>
      <if test="equipmentState != null" >
        equipment_state = #{equipmentState,jdbcType=VARCHAR},
      </if>
      <if test="manufacturer != null" >
        manufacturer = #{manufacturer,jdbcType=VARCHAR},
      </if>
      <if test="purchasingTime != null" >
        purchasing_time = #{purchasingTime,jdbcType=TIMESTAMP},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=DECIMAL},
      </if>
      <if test="useYear != null" >
        use_year = #{useYear,jdbcType=VARCHAR},
      </if>
      <if test="depreciationMethod != null" >
        depreciation_method = #{depreciationMethod,jdbcType=VARCHAR},
      </if>
      <if test="startTime != null" >
        start_time = #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="accruedMonth != null" >
        accrued_month = #{accruedMonth,jdbcType=VARCHAR},
      </if>
      <if test="outputRate != null" >
        output_rate = #{outputRate,jdbcType=VARCHAR},
      </if>
      <if test="salvageValue != null" >
        salvage_value = #{salvageValue,jdbcType=VARCHAR},
      </if>
      <if test="accumulatedDepreciation != null" >
        accumulated_depreciation = #{accumulatedDepreciation,jdbcType=VARCHAR},
      </if>
      <if test="monthRate != null" >
        month_rate = #{monthRate,jdbcType=VARCHAR},
      </if>
      <if test="monthDepreciation != null" >
        month_depreciation = #{monthDepreciation,jdbcType=VARCHAR},
      </if>
      <if test="netWorth != null" >
        net_worth = #{netWorth,jdbcType=VARCHAR},
      </if>
      <if test="string1 != null" >
        string1 = #{string1,jdbcType=VARCHAR},
      </if>
      <if test="string2 != null" >
        string2 = #{string2,jdbcType=VARCHAR},
      </if>
      <if test="string3 != null" >
        string3 = #{string3,jdbcType=VARCHAR},
      </if>
      <if test="string4 != null" >
        string4 = #{string4,jdbcType=VARCHAR},
      </if>
      <if test="string5 != null" >
        string5 = #{string5,jdbcType=VARCHAR},
      </if>
      <if test="string6 != null" >
        string6 = #{string6,jdbcType=VARCHAR},
      </if>
      <if test="string7 != null" >
        string7 = #{string7,jdbcType=VARCHAR},
      </if>
      <if test="string8 != null" >
        string8 = #{string8,jdbcType=VARCHAR},
      </if>
      <if test="string9 != null" >
        string9 = #{string9,jdbcType=VARCHAR},
      </if>
      <if test="string10 != null" >
        string10 = #{string10,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=CHAR},
      </if>
      <if test="delFlag != null" >
        del_flag = #{delFlag,jdbcType=CHAR},
      </if>
      <if test="createBy != null" >
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        update_by = #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where assets_id = #{assetsId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.deepsoft.haolifa.model.domain.BizAssets" >
    update biz_assets
    set name = #{name,jdbcType=VARCHAR},
      bh = #{bh,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR},
      specifications = #{specifications,jdbcType=VARCHAR},
      num = #{num,jdbcType=VARCHAR},
      dept_id = #{deptId,jdbcType=VARCHAR},
      user_name = #{userName,jdbcType=VARCHAR},
      add_type = #{addType,jdbcType=VARCHAR},
      location = #{location,jdbcType=VARCHAR},
      equipment_state = #{equipmentState,jdbcType=VARCHAR},
      manufacturer = #{manufacturer,jdbcType=VARCHAR},
      purchasing_time = #{purchasingTime,jdbcType=TIMESTAMP},
      price = #{price,jdbcType=DECIMAL},
      use_year = #{useYear,jdbcType=VARCHAR},
      depreciation_method = #{depreciationMethod,jdbcType=VARCHAR},
      start_time = #{startTime,jdbcType=TIMESTAMP},
      accrued_month = #{accruedMonth,jdbcType=VARCHAR},
      output_rate = #{outputRate,jdbcType=VARCHAR},
      salvage_value = #{salvageValue,jdbcType=VARCHAR},
      accumulated_depreciation = #{accumulatedDepreciation,jdbcType=VARCHAR},
      month_rate = #{monthRate,jdbcType=VARCHAR},
      month_depreciation = #{monthDepreciation,jdbcType=VARCHAR},
      net_worth = #{netWorth,jdbcType=VARCHAR},
      string1 = #{string1,jdbcType=VARCHAR},
      string2 = #{string2,jdbcType=VARCHAR},
      string3 = #{string3,jdbcType=VARCHAR},
      string4 = #{string4,jdbcType=VARCHAR},
      string5 = #{string5,jdbcType=VARCHAR},
      string6 = #{string6,jdbcType=VARCHAR},
      string7 = #{string7,jdbcType=VARCHAR},
      string8 = #{string8,jdbcType=VARCHAR},
      string9 = #{string9,jdbcType=VARCHAR},
      string10 = #{string10,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      status = #{status,jdbcType=CHAR},
      del_flag = #{delFlag,jdbcType=CHAR},
      create_by = #{createBy,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where assets_id = #{assetsId,jdbcType=BIGINT}
  </update>
</mapper>