<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.deepsoft.haolifa.dao.repository.PayWorkingProcedureMapper" >
  <resultMap id="BaseResultMap" type="com.deepsoft.haolifa.model.domain.PayWorkingProcedure" >
    <constructor >
      <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="serial" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="workshop_name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="work_type" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="product_model" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="post_name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="post_capability" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="post_code" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="create_user" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="update_user" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="create_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="update_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
    </constructor>
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, serial, workshop_name, work_type, product_model, post_name, post_capability,
    post_code, create_user, update_user, create_time, update_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.deepsoft.haolifa.model.domain.PayWorkingProcedureExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from pay_working_procedure
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>

    <select id="selectList" resultMap="BaseResultMap" parameterType="com.deepsoft.haolifa.model.dto.pay.PayWorkingProcedureDTO">
        select
        *
        from pay_working_procedure
        <where>
            <if test="productModel != null and productModel != ''" >
                and FIND_IN_SET(#{productModel}, product_model)
            </if>
            <if test="workType != null and workType != ''" >
                and work_type = #{workType}
            </if>
        </where>
    </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from pay_working_procedure
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from pay_working_procedure
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.deepsoft.haolifa.model.domain.PayWorkingProcedureExample" >
    delete from pay_working_procedure
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.deepsoft.haolifa.model.domain.PayWorkingProcedure" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into pay_working_procedure (serial, workshop_name, work_type,
      product_model, post_name, post_capability,
      post_code, create_user, update_user,
      create_time, update_time)
    values (#{serial,jdbcType=INTEGER}, #{workshopName,jdbcType=VARCHAR}, #{workType,jdbcType=VARCHAR},
      #{productModel,jdbcType=VARCHAR}, #{postName,jdbcType=VARCHAR}, #{postCapability,jdbcType=VARCHAR},
      #{postCode,jdbcType=VARCHAR}, #{createUser,jdbcType=VARCHAR}, #{updateUser,jdbcType=VARCHAR},
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.deepsoft.haolifa.model.domain.PayWorkingProcedure" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into pay_working_procedure
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="serial != null" >
        serial,
      </if>
      <if test="workshopName != null" >
        workshop_name,
      </if>
      <if test="workType != null" >
        work_type,
      </if>
      <if test="productModel != null" >
        product_model,
      </if>
      <if test="postName != null" >
        post_name,
      </if>
      <if test="postCapability != null" >
        post_capability,
      </if>
      <if test="postCode != null" >
        post_code,
      </if>
      <if test="createUser != null" >
        create_user,
      </if>
      <if test="updateUser != null" >
        update_user,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="serial != null" >
        #{serial,jdbcType=INTEGER},
      </if>
      <if test="workshopName != null" >
        #{workshopName,jdbcType=VARCHAR},
      </if>
      <if test="workType != null" >
        #{workType,jdbcType=VARCHAR},
      </if>
      <if test="productModel != null" >
        #{productModel,jdbcType=VARCHAR},
      </if>
      <if test="postName != null" >
        #{postName,jdbcType=VARCHAR},
      </if>
      <if test="postCapability != null" >
        #{postCapability,jdbcType=VARCHAR},
      </if>
      <if test="postCode != null" >
        #{postCode,jdbcType=VARCHAR},
      </if>
      <if test="createUser != null" >
        #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="updateUser != null" >
        #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.deepsoft.haolifa.model.domain.PayWorkingProcedureExample" resultType="java.lang.Integer" >
    select count(*) from pay_working_procedure
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update pay_working_procedure
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.serial != null" >
        serial = #{record.serial,jdbcType=INTEGER},
      </if>
      <if test="record.workshopName != null" >
        workshop_name = #{record.workshopName,jdbcType=VARCHAR},
      </if>
      <if test="record.workType != null" >
        work_type = #{record.workType,jdbcType=VARCHAR},
      </if>
      <if test="record.productModel != null" >
        product_model = #{record.productModel,jdbcType=VARCHAR},
      </if>
      <if test="record.postName != null" >
        post_name = #{record.postName,jdbcType=VARCHAR},
      </if>
      <if test="record.postCapability != null" >
        post_capability = #{record.postCapability,jdbcType=VARCHAR},
      </if>
      <if test="record.postCode != null" >
        post_code = #{record.postCode,jdbcType=VARCHAR},
      </if>
      <if test="record.createUser != null" >
        create_user = #{record.createUser,jdbcType=VARCHAR},
      </if>
      <if test="record.updateUser != null" >
        update_user = #{record.updateUser,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null" >
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update pay_working_procedure
    set id = #{record.id,jdbcType=INTEGER},
      serial = #{record.serial,jdbcType=INTEGER},
      workshop_name = #{record.workshopName,jdbcType=VARCHAR},
      work_type = #{record.workType,jdbcType=VARCHAR},
      product_model = #{record.productModel,jdbcType=VARCHAR},
      post_name = #{record.postName,jdbcType=VARCHAR},
      post_capability = #{record.postCapability,jdbcType=VARCHAR},
      post_code = #{record.postCode,jdbcType=VARCHAR},
      create_user = #{record.createUser,jdbcType=VARCHAR},
      update_user = #{record.updateUser,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.deepsoft.haolifa.model.domain.PayWorkingProcedure" >
    update pay_working_procedure
    <set >
      <if test="serial != null" >
        serial = #{serial,jdbcType=INTEGER},
      </if>
      <if test="workshopName != null" >
        workshop_name = #{workshopName,jdbcType=VARCHAR},
      </if>
      <if test="workType != null" >
        work_type = #{workType,jdbcType=VARCHAR},
      </if>
      <if test="productModel != null" >
        product_model = #{productModel,jdbcType=VARCHAR},
      </if>
      <if test="postName != null" >
        post_name = #{postName,jdbcType=VARCHAR},
      </if>
      <if test="postCapability != null" >
        post_capability = #{postCapability,jdbcType=VARCHAR},
      </if>
      <if test="postCode != null" >
        post_code = #{postCode,jdbcType=VARCHAR},
      </if>
      <if test="createUser != null" >
        create_user = #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="updateUser != null" >
        update_user = #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.deepsoft.haolifa.model.domain.PayWorkingProcedure" >
    update pay_working_procedure
    set serial = #{serial,jdbcType=INTEGER},
      workshop_name = #{workshopName,jdbcType=VARCHAR},
      work_type = #{workType,jdbcType=VARCHAR},
      product_model = #{productModel,jdbcType=VARCHAR},
      post_name = #{postName,jdbcType=VARCHAR},
      post_capability = #{postCapability,jdbcType=VARCHAR},
      post_code = #{postCode,jdbcType=VARCHAR},
      create_user = #{createUser,jdbcType=VARCHAR},
      update_user = #{updateUser,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>
