<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.deepsoft.haolifa.dao.repository.PressureInspectResultMapper">
  <resultMap id="BaseResultMap" type="com.deepsoft.haolifa.model.domain.PressureInspectResult">
    <constructor>
      <idArg column="id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="inspect_no" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="order_no" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="testing_number" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="reinspect_number" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="qualified_number" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="unqualified_number" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="inspecte_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="testing_person" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="create_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="update_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
    </constructor>
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, inspect_no, order_no, testing_number, reinspect_number, qualified_number, unqualified_number, 
    inspecte_time, testing_person, create_time, update_time
  </sql>
  <select id="selectByExample" parameterType="com.deepsoft.haolifa.model.domain.PressureInspectResultExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from pressure_inspect_result
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from pressure_inspect_result
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from pressure_inspect_result
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.deepsoft.haolifa.model.domain.PressureInspectResultExample">
    delete from pressure_inspect_result
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.deepsoft.haolifa.model.domain.PressureInspectResult">
    insert into pressure_inspect_result (id, inspect_no, order_no, 
      testing_number, reinspect_number, qualified_number, 
      unqualified_number, inspecte_time, testing_person, 
      create_time, update_time)
    values (#{id,jdbcType=INTEGER}, #{inspectNo,jdbcType=VARCHAR}, #{orderNo,jdbcType=VARCHAR}, 
      #{testingNumber,jdbcType=INTEGER}, #{reinspectNumber,jdbcType=INTEGER}, #{qualifiedNumber,jdbcType=INTEGER}, 
      #{unqualifiedNumber,jdbcType=INTEGER}, #{inspecteTime,jdbcType=TIMESTAMP}, #{testingPerson,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.deepsoft.haolifa.model.domain.PressureInspectResult">
    insert into pressure_inspect_result
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="inspectNo != null">
        inspect_no,
      </if>
      <if test="orderNo != null">
        order_no,
      </if>
      <if test="testingNumber != null">
        testing_number,
      </if>
      <if test="reinspectNumber != null">
        reinspect_number,
      </if>
      <if test="qualifiedNumber != null">
        qualified_number,
      </if>
      <if test="unqualifiedNumber != null">
        unqualified_number,
      </if>
      <if test="inspecteTime != null">
        inspecte_time,
      </if>
      <if test="testingPerson != null">
        testing_person,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="inspectNo != null">
        #{inspectNo,jdbcType=VARCHAR},
      </if>
      <if test="orderNo != null">
        #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="testingNumber != null">
        #{testingNumber,jdbcType=INTEGER},
      </if>
      <if test="reinspectNumber != null">
        #{reinspectNumber,jdbcType=INTEGER},
      </if>
      <if test="qualifiedNumber != null">
        #{qualifiedNumber,jdbcType=INTEGER},
      </if>
      <if test="unqualifiedNumber != null">
        #{unqualifiedNumber,jdbcType=INTEGER},
      </if>
      <if test="inspecteTime != null">
        #{inspecteTime,jdbcType=TIMESTAMP},
      </if>
      <if test="testingPerson != null">
        #{testingPerson,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.deepsoft.haolifa.model.domain.PressureInspectResultExample" resultType="java.lang.Long">
    select count(*) from pressure_inspect_result
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update pressure_inspect_result
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.inspectNo != null">
        inspect_no = #{record.inspectNo,jdbcType=VARCHAR},
      </if>
      <if test="record.orderNo != null">
        order_no = #{record.orderNo,jdbcType=VARCHAR},
      </if>
      <if test="record.testingNumber != null">
        testing_number = #{record.testingNumber,jdbcType=INTEGER},
      </if>
      <if test="record.reinspectNumber != null">
        reinspect_number = #{record.reinspectNumber,jdbcType=INTEGER},
      </if>
      <if test="record.qualifiedNumber != null">
        qualified_number = #{record.qualifiedNumber,jdbcType=INTEGER},
      </if>
      <if test="record.unqualifiedNumber != null">
        unqualified_number = #{record.unqualifiedNumber,jdbcType=INTEGER},
      </if>
      <if test="record.inspecteTime != null">
        inspecte_time = #{record.inspecteTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.testingPerson != null">
        testing_person = #{record.testingPerson,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update pressure_inspect_result
    set id = #{record.id,jdbcType=INTEGER},
      inspect_no = #{record.inspectNo,jdbcType=VARCHAR},
      order_no = #{record.orderNo,jdbcType=VARCHAR},
      testing_number = #{record.testingNumber,jdbcType=INTEGER},
      reinspect_number = #{record.reinspectNumber,jdbcType=INTEGER},
      qualified_number = #{record.qualifiedNumber,jdbcType=INTEGER},
      unqualified_number = #{record.unqualifiedNumber,jdbcType=INTEGER},
      inspecte_time = #{record.inspecteTime,jdbcType=TIMESTAMP},
      testing_person = #{record.testingPerson,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.deepsoft.haolifa.model.domain.PressureInspectResult">
    update pressure_inspect_result
    <set>
      <if test="inspectNo != null">
        inspect_no = #{inspectNo,jdbcType=VARCHAR},
      </if>
      <if test="orderNo != null">
        order_no = #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="testingNumber != null">
        testing_number = #{testingNumber,jdbcType=INTEGER},
      </if>
      <if test="reinspectNumber != null">
        reinspect_number = #{reinspectNumber,jdbcType=INTEGER},
      </if>
      <if test="qualifiedNumber != null">
        qualified_number = #{qualifiedNumber,jdbcType=INTEGER},
      </if>
      <if test="unqualifiedNumber != null">
        unqualified_number = #{unqualifiedNumber,jdbcType=INTEGER},
      </if>
      <if test="inspecteTime != null">
        inspecte_time = #{inspecteTime,jdbcType=TIMESTAMP},
      </if>
      <if test="testingPerson != null">
        testing_person = #{testingPerson,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.deepsoft.haolifa.model.domain.PressureInspectResult">
    update pressure_inspect_result
    set inspect_no = #{inspectNo,jdbcType=VARCHAR},
      order_no = #{orderNo,jdbcType=VARCHAR},
      testing_number = #{testingNumber,jdbcType=INTEGER},
      reinspect_number = #{reinspectNumber,jdbcType=INTEGER},
      qualified_number = #{qualifiedNumber,jdbcType=INTEGER},
      unqualified_number = #{unqualifiedNumber,jdbcType=INTEGER},
      inspecte_time = #{inspecteTime,jdbcType=TIMESTAMP},
      testing_person = #{testingPerson,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>