<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.deepsoft.haolifa.dao.repository.QualityEntrustReportMapper" >
  <resultMap id="BaseResultMap" type="com.deepsoft.haolifa.model.domain.QualityEntrustReport" >
    <constructor >

      <arg column="total_num" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="qualified_number" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="unqualified_number" jdbcType="INTEGER" javaType="java.lang.Integer" />

    </constructor>
  </resultMap>

  <select id="selectByType" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
     select sum(number) total_num,sum(qualified_number) qualified_number,sum(number)-sum(qualified_number) unqualified_number from entrust where inspect_status=2 and workShop_type =#{type}
  </select>

</mapper>